<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName %>
  </div>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName %>
  </div>

  <div class="field">
    <%= form.label :marks1 %>
    <%= form.number_field :marks1 %>
  </div>

  <div class="field">
    <%= form.label :marks2 %>
    <%= form.number_field :marks2 %>
  </div>

  <div class="field">
    <%= form.label :marks3 %>
    <%= form.number_field :marks3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
